ul.topnav
{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #F3F3F3;
}

ul.topnav li
{
    float:left;
}

ul.topnav li a,.dropbtn
{
    display: block;
    color: #666666;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    transition: all 0.3s ease;
}

ul.topnav li a:hover:not(.active),.dropdown:hover,.dropdown-content a:hover
{
    background-color: #e2e2e2;
    transition: all 0.3s ease;
}

ul.topnav li a.active:hover
{
    background-color: #31a1c6;
}

ul.topnav li a.active
{
    background-color: #008cba;
    color:white
}

.dropdown
{
    display:inline-block;
}

.dropdown-content
{
    display: none;
    position: absolute;
    background-color: #f3f3f3;
    min-width: 10px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

.dropdown-content a
{
    color:#666666;
    padding:12px 16px;
    text-decoration:none;
    display:block;
}

.dropdown:hover .dropdown-content
{
    display:block;
}

ul.topnav li.right 
{
    float: right;
}

